nav a, nav a:visited {
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

  nav a.active-link, nav a.active-link:visited {
    font-weight: bold;
    color: blue;
    border-bottom: 2px solid blue;
  }
